.aboutMe{
    height: auto;
    background: linear-gradient(180deg,  rgb(39, 37, 37) 0%, rgb(122, 122, 122) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    color: white;
}

.aboutMe > *{
    width: 40%;
}

.aboutImage{
    display: block;
    margin: 0 auto;
    width: 70%;
}

.aboutDesc h5{
    font-family: 'Pacifico', cursive;
    color:rgb(192, 190, 190);
}

.aboutDesc h1{
    font-family: 'Lobster', cursive;
    margin-bottom: 15px;
}





@media only screen and (max-width: 992px){
    .aboutMe{
        position: relative;
        flex-direction: column-reverse;
        padding: 60px 10%;
        align-items: center;
        justify-content: center;
        color: white;
    }
    
    .aboutMe > *{
        width: 100%;
    }
    
    .aboutImage{
        position: absolute;
        top: 15%;
        width: 100px;
        right: 10%;
    }

    .aboutDesc{
        margin-top: 100px;
    }
}


@media only screen and (max-width: 500px){
    .readMore {
        border-radius: 12px;
        font-size: 12px;
        line-height: 15px;
        margin-top: 25px;
        padding: 9px 12px;
      }

      .aboutMe{
        padding: 40px 20px;
    }
}










