@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.3s ease-in;
}

nav.active{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Bakbak One', cursive;
    color: white !important;
}

.navMenu{
    display: flex;
    align-items: center;
}

.navLink{
    padding: 0 10px;
    color:rgb(160, 169, 177);
    font-size: 18px;
}

.navLink:hover{
    color: white;
}

nav .active{
    color: white;
}

.navIcon{
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.nav-social-link{
    display: none;
}

.resume-btn{
   color:rgba(0, 0, 0, 0.8);
   background-color: white;
   padding: 5px 10px;
   border-radius: 5px;

   display: flex;
   align-items: center;
   gap: 2px;
}

.resume-btn:hover{
    background-color: rgb(241, 240, 240);
}


@media only screen and (max-width: 600px) {
    .navIcon{
        display: block;
    }
    .navMenu{
        position: absolute;
        left: -105%;
        top: 62px;
        width: 100%;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        transition: 0.3s;
    }

    .navMenu.active{
        left: 0;
        z-index: 10;
    }

    .navLink{
        margin: 16px 0;
        font-size: 1.5rem;
        /* transition-delay: 0.4s; */
    }

    
    .navMenu.active .navLink{
        animation: rotate 0.5s linear;
    }

    @keyframes rotate {
        0%{
            transform: scale(0);
        }
        25%{
            transform: scale(0.25);
        }
        50%{
            transform: scale(0.5);
        }
        75%{
            transform: scale(0.75);
        }
        100%{
            transform: scale(1);
        }
    }


    .nav-social-link{
        display: block;
        position: absolute;
        bottom: 15%;
    }

    .nav-social-link a{
        color: white;
        font-size: 25px;
        margin: 0 5px;
    }
}